<footer class="main-footer">
  <strong
    >Copyright &copy; 2022-2023
    <a href="https://www.linkedin.com/in/nihel-khlif-712504229/">Khlif Nihel</a
    >.</strong
  >
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <a target="_blank" href="https://www.facebook.com/nihel.khlifi.10"
      ><i class="fab fa-lg ml-1 fa-facebook"></i
    ></a>

    <a
      target="_blank"
      class="text-warning"
      href="https://www.instagram.com/nihel_khlif/"
      ><i class="fab fa-lg ml-1 fa-instagram"></i
    ></a>
  </div>
</footer>
